<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <style>
    * {
      font-size: 25px;
    }
    td {
      max-width: 100vw;
    }
  </style>
</head>

<body>
  <h1>Nowe zgłoszenie</h1>
  <table border="1">
    <tr>
      <td>Temat</td>
      <td>{{topic}}</td>
    </tr>
    <tr>
      <td>Imię</td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>Nazwisko</td>
      <td>{{surname}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td>Nazwa firmy</td>
      <td>{{companyName}}</td>
    </tr>
    <tr>
      <td>Tax Number</td>
      <td>{{taxNumber}}</td>
    </tr>
    <tr>
      <td>Opis</td>
      <td>{{description}}</td>
    </tr>
  </table>
</body>

</html>